/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Flexbox to ensure the footer is pushed to the bottom */
body {
    display: flex;
    flex-direction: column;
}

/* Content section should expand to fill remaining space */
.container {
    flex-grow: 1;
}

/* Footer will stay at the bottom */
footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
}

.tracking-steps ul {
    padding-left: 0;
    margin-top: 30px;
}
.tracking-steps .list-group-item {
    border: none;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
}
.tracking-steps .list-group-item.bg-success {
    background-color: #28a745 !important;
}
.order-details img {
    max-height: 100px;
}
